<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1" parallel="false" >
    <test name="Main" >
        <classes>
            <class name="MainTest">
                <methods>
                    <include name="test"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>